
*, *::after, *::before {
    box-sizing:border-box;
}

:root {
   --font-header:Helvetia, Arial, sans-serif;
   --font-body:var(--font-header);

   --header-height:3rem;

   --color-main-rgb: 101,186,183;
   --color-main-hue: 178;
   --color-main-light: hsl(var(--color-main-hue),52%,77);
   --color-main-medium: hsl(var(--color-main-hue),38%,56%);
   --color-main-dark: hsl(var(--color-main-hue),57%,27%);

   --color-neutal-lighter: rgb(234, 238, 236);
   --color-neutal-light:  rgb(194, 202, 198);
   --color-neutal-medium: rgb(111, 121, 116);
   --color-neutal-dark: rgb(37, 44, 41);
}

#signin-page{
    background-color: #f4efe7;

}
.logo{
    float: left;
    z-index: 100;
    width: 10%;
    opacity:0.7;
    margin-top: 30px;
    margin-left: 10px;
}

.small-pic{
    z-index: 100;
    margin: -50px 240px -90px;
    opacity: 0.7;
    
}

.name{
    float: left;
    color: #f8f0e0;
    margin: -10px 10px 1px;
}

.word{
    float: left;
    color: #f8f0e0;
    margin: auto;
    margin-top: -20px;
}

.name2{
    float: left;
    color: #98b0b0;
    margin: -10px 10px 1px;
}


.word2{
    display: block;
    float: left;
    color:  #f0b050;
    margin: auto;
}

.bottom-pic{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}


.bottom-pic>img {
    object-position: center 0;
    object-fit: none;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.bottom-pic2{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
}

.bottom-pic2>img {
    object-position: center 0;
    object-fit: none;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}


#signup-page{
    background-color: #f4efe7;
}


body{
    margin:0;
    font-family: var(--font-body);
}

a{
    color: #4095aa;
    font-weight:bold;
    text-decoration: none;
}

/* APP STRUCTURE */
.ui-loader{
    display:none;
}

[data-role="page"] {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    overflow:hidden;
}

[data-role="page"].ui-page-active {
    display:flex;
    flex-direction: column;
}

[data-role="main"] {
    flex: 1 1 100%;
    position: relative;
    overflow: relative;
    z-index:1;
}

[data-role="header"],
[data-role="footer"]{
    line-height: var(--header-height);
    height: var(--header-height);
    position:relative;
    overflow:hidden;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    z-index:2;
}
[data-role="header"]:not(:last-of-type),
[data-role="footer"]:not(:first-of-type) {
    z-index:3;
}


/* Core Navigation */
[data-role="header"] ul,
[data-role="footer"] ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    position: relative;
}

[data-role="footer"] li {
    flex: 1 1 auto;
    text-align: center;
}


[data-role="header"] h1{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;

    text-align: center;
    font-size: 1em;
    margin:0;

}

[data-role="header"] a {
    padding: 0 1em;   
}


[data-role="header"] a,
[data-role="footer"] a {
    display: block;
}



/* Basic layout tools */
.display-flex { display:flex; }
.display-inline-flex { display:inline-flex; }
.display-block { display:block; }
.display-inline-block { display:inline-block; }

.flex-align-center { align-items: center; }
.flex-justify-center { justify-content: center; }

.flex-none { flex:none; }
.flex-stretch { flex: 1 1 auto; }
.flex-column { flex-direction: column; }
.overscroll { overflow: auto; }
.hidden { display: none; }

.padded { padding:1em; }
.full { height:100%; }




/* FORMS */
.form-control{
    margin: 1em 0 ;
}
.form-label{
    font-size: 0.8;
    color: var(--color-neutal-medium);
    display: block;
    margin-bottom: 0.5em;
}
.form-input {
    background-color: transparent;
    border-width: 1px;
    border-color: #98b0b0;
    border-style: solid;
    border-radius: 0.2em;
    padding: 0.5em 1em;
    display: inline-block;
    width: 100%;
    font: inherit;
}
.form-button {
    background-color: #eb7368;
    border-width: 0;
    border-radius: 0.2em;
    padding: 0.5em 1em;
    display: inline-block;
    width: 100%;
    font: inherit;
    text-align: center;
    color: white;
}
.form-button:hover{
    text-decoration: none;
    color: #f8f0e0;
}




#signin-form,
#signup-form {
    padding: 1em;
}

.signin-hero{
    position: relative;
    display: flex;
    justify-content: center;

}

.signin-hero>img {
    position: absolute;
    top: -45px;
    bottom: -30px;
    transform: translateY(28px);
  
   
}
.signin-hero2>img {
    position: absolute;
    top: -10px;
    bottom: -30px;
    transform: translateY(28px);
   
}

.hero-icon {
     width: 40vw;
     aspect-ratio: 1/1;
}

.signin-hero{
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
}
.flex-stretch1{
    margin-bottom: 70px;
}

/*map*/

.map {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}





/* FLOATER */
.floater { position:absolute; }
.floater.top { top: 1rem; }
.floater.right { right: 1rem; }
.floater.bottom { bottom: 1rem; }
.floater.left { left: 1rem; }

.btn-circle {
    border-radius: 2rem;
    line-height: 3rem;
    font-size:2.5em;
    width: 3rem;
    height: 3rem;
    text-align:center;
    background-color:white;
    display: block;
    box-shadow: 0.1em 0.1em 0.2em rgba(0,0,0,0.2);
}


/* MODAL */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: all 0.3s;
    opacity: 0;
    z-index: 10;
}
.modal.active {
    opacity: 1;
    pointer-events: initial;
}



.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}
.modal-back.transparent {
    background-color: transparent;
}



.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 3em));
    width: 80vw;
    max-height: 60vh;
    display:flex;
    flex-direction: column;
    border-radius: 0.3em;
    overflow:hidden;
    transition: all 0.3s;
}
.modal.active .modal-popup {
    transform: translate(-50%, -50%);
}


.modal-drawer {
    position: absolute;
    display:flex;
    flex-direction: column;
    overflow:hidden;
    transition: all 0.3s;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.modal-drawer.island {
    box-shadow: initial;
}
.modal-drawer.island .modal-body {
    margin:1em;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    border-radius:1em;

}

.modal-drawer.right,
.modal-drawer.left {
    height: 100%;
    width: 70vw;
}
.modal-drawer.right { right: 0; transform: translateX(100%); }
.modal-drawer.left { left: 0; transform: translateX(-100%); }

.modal-drawer.top,
.modal-drawer.bottom {
    height: 40vh;
    width: 100%;
}
.modal-drawer.top { top: 0; transform: translateY(-100%); }
.modal-drawer.bottom { bottom: 0; transform: translateY(100%); }
.modal.active .modal-drawer {
    transform: translate(0);
}




.modal-head,
.modal-foot {
    background-color: var(--color-neutral-lighter);
    padding: 0.5em 1em;
}
.modal-body {
    background-color: white;
    padding: 1em;
    flex: 1 1 100%;
    overflow: auto;
}




/* Bench LIST */
.benchlist {
    height: 100%;
    position:relative;
    overflow:auto;

    padding: 1em;
}





/* M9 */
[data-role="footer"] .icon {
    width: 1.3rem;
    height: 1.3rem;
    vertical-align: middle;
}
[data-role="footer"] a {
    line-height: 1rem;
    color: inherit;
}
.footer-icon {
    display: block;
    line-height: 1.7rem;
}
.footer-label {
    line-height: 1.3rem;
    font-size: 0.6rem;
    display: block;
}







.benchlist-item {
    display: flex;
    box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
    margin: 1em 0;
    border-radius: 1em;
    overflow: hidden;
    font-weight:normal;
    color:inherit;
}
.benchlist-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
    vertical-align: text-bottom;
}
.benchlist-body {
    padding: 1em;
}
.benchlist-name {
    font-size:1.3em;
}




#bench-profile-page [data-role="main"] {
    display:flex;
    flex-direction:column;
}
.bench-profile-top {
    height:30vh;
    flex:none;
    background-position:center;
    background-size:cover;
}
.bench-profile-nav {
    flex:none;
    line-height:var(--header-height);
    display:flex;
}
.nav-link {
    flex: 1 1 50%;
    text-align: center;
}
.nav-link.active {
    background-color:var(--color-main-light);
}
.bench-profile-bottom {
    position:relative;
    flex: 1 1 100%;
}
.bench-profile-section {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    pointer-events: none;
    transition:all 0.3s;
}
.bench-profile-section.active {
    opacity:1;
    pointer-events: initial;
}




.bench-map-description {
    display:flex;
}
.bench-map-image img{
    width:80px;
    aspect-ratio: 1 / 1;
    vertical-align: middle;
    object-fit:cover;
}
.bench-map-body {
    padding: 1em;
}
.bench-map-body h1 {
    margin:0;
}




.user-profile-image img {
    width:100%;
    object-fit: cover;
    aspect-ratio: 1/ 1;
    border-radius: 50%;
    padding:4em;
}
.user-profile-body {
    padding:2em;
}
.user-profile-name {
    font-weight:1.5em;
}

.body {
    height:100%;
}

#user-edit-photo-page .body {
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
}


.icon {
    font-size: 1em;
    width: 1em;
    height: 1em;
}




.settings {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.settings li {
    padding: 0.5em 1em;

}
.settings li~li {
    border-top: 1px solid var(--color-neutral-lighter);
}


#list-page header {
    display:flex;
}
.hotdog {
    margin: 5px;
    line-height:var(--header-height);
    background-color: var(--color-neutral-lighter);
    border-radius: var(--header-height);
    width: 100%;
    display: flex;
}
.hotdog input {
    width:100%;
    height:100%;
    background-color: unset;
    border: unset;
    outline: unset;
    padding: unset;
    margin: unset;
    vertical-align: middle;
    font: inherit;
    padding: 0 1em;
}


.filter-bar {
    display:flex;
    padding-inline: 1em;
    gap: 1em;
    overflow:auto;
}
.filter-bar span {
    font-weight:bold;
}